<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="labcodes" type="SLIMJobRegFormConfig.Labcodes, SLIMJobRegForm" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="pageAppearanceGroup">
      <section name="pageAppearance" type="SLIMJobRegFormConfig2.PageAppearanceSection, SLIMJobRegForm" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <labcodes xmlns="urn:SLIMJobRegFormConfig">
    <labcode name="HKCTS82-UAT" description="HK SL UAT" active="true">
      <general>
        <register path="\\10.205.4.145\" />
        <tRF path="\\10.205.4.145" />
        <webService url="http://10.205.2.267" />
      </general>
      <sample>
        <clientDesc numberDigit="2" />
      </sample>
    </labcode>
  </labcodes>
  <pageAppearanceGroup>
    <pageAppearance remoteOnly="true">
      <font name="TimesNewRoman" size="18" />
      <color background="000000" foreground="FFFFFF" />
    </pageAppearance>
  </pageAppearanceGroup>
  <appSettings>
    <add key="ActiveLabcode" value="Local" />
    <add key="Labcodes" value="HKCTS82-UAT,HKCTS82,CNCTS83-UAT,CNCTS83,CNCTS81-UAT,CNCTS81,Local" />
    <add key="Local_Description" value="Local Test" />
    <add key="Local_RegPath" value="C:\LIMS\SITES\HKCTS82\XML\VF\Register" />
    <add key="Local_TRFPath" value="C:\LIMS\SITES\HKCTS82\XML\VF\TRF\Final" />
    <add key="Local_WebService" value="http://localhost/SLIM/ccxml01/CCXML01.asmx" />
    <add key="Local_WebServiceLabcode" value="CNCTS03" />
    <add key="Local_WebServiceSystem" value="VF" />
    <add key="Local_CostCode" value="TX,FW" />
    <add key="Local_SampleClientDescNumberDigit" value="1" />
    <add key="Local_SampleFieldHighlight" value="SampleType,SGSDescription,ArticleNo,Material,ProductCode,SampleID,Color,ClientDescription,Remark" />
    <add key="Local_SampleBioFieldFieldHighlight" value="" />
    <add key="Local_SampleUserDataAutoFetch" value="No" />
    <add key="HKCTS82-UAT_Description" value="Hong Kong SL VF UAT" />
    <add key="HKCTS82-UAT_RegPath" value="\\10.205.4.145\InditexHK\HKCTS82\XML\VF\Register" />
    <add key="HKCTS82-UAT_TRFPath" value="\\10.205.4.145\InditexHK\HKCTS82\XML\VF\TRF\Final" />
    <add key="HKCTS82-UAT_WebService" value="http://10.205.7.226/SLIM/CCXML01.asmx" />
    <add key="HKCTS82-UAT_WebServiceLabcode" value="HKCTS82" />
    <add key="HKCTS82-UAT_WebServiceSystem" value="VF" />
    <add key="HKCTS82-UAT_CostCode" value="TX" />
    <add key="HKCTS82-UAT_JobBioFieldDefault" value="OTS_REPORT_NUMBER~~N,OTS_SUBCONTRACT_ID~~N" />
    <add key="HKCTS82-UAT_SampleClientDescNumberDigit" value="1" />
    <add key="HKCTS82-UAT_SampleBioFieldDefaultOriginal" value="" />
    <add key="HKCTS82-UAT_SampleBioFieldDefaultSpecimen" value="" />
    <add key="HKCTS82-UAT_SampleBioFieldDefaultComposite" value="" />
    <add key="HKCTS82-UAT_SampleFieldHighlight" value="" />
    <add key="HKCTS82-UAT_SampleBioFieldFieldHighlight" value="" />
    <add key="HKCTS82-UAT_SampleUserDataAutoFetch" value="No" />
    <add key="HKCTS82_Description" value="Hong Kong SL VF Production" />
    <add key="HKCTS82_RegPath" value="\\10.205.3.75\InditexHK\HKCTS82\XML\VF\Register" />
    <add key="HKCTS82_TRFPath" value="\\10.205.3.75\InditexHK\HKCTS82\XML\VF\TRF\Final" />
    <add key="HKCTS82_WebService" value="http://10.205.3.68/slim/ccxml01.asmx" />
    <add key="HKCTS82_WebServiceLabcode" value="HKCTS82" />
    <add key="HKCTS82_WebServiceSystem" value="VF" />
    <add key="HKCTS82_CostCode" value="TX" />
    <add key="HKCTS82_JobBioFieldDefault" value="OTS_REPORT_NUMBER~~N,OTS_SUBCONTRACT_ID~~N" />
    <add key="HKCTS82_SampleClientDescNumberDigit" value="1" />
    <add key="HKCTS82-SampleBioFieldDefaultOriginal" value="" />
    <add key="HKCTS82-SampleBioFieldDefaultSpecimen" value="" />
    <add key="HKCTS82-SampleBioFieldDefaultComposite" value="" />
    <add key="HKCTS82_SampleFieldHighlight" value="" />
    <add key="HKCTS82_SampleBioFieldFieldHighlight" value="" />
    <add key="HKCTS82_SampleUserDataAutoFetch" value="No" />
    <add key="CNCTS83-UAT_Description" value="Shanghai SL VF UAT" />
    <add key="CNCTS83-UAT_RegPath" value="\\10.205.4.145\Inditex\CNCTS83\XML\VF\Register" />
    <add key="CNCTS83-UAT_TRFPath" value="\\10.205.4.145\Inditex\CNCTS83\XML\VF\TRF\Final" />
    <add key="CNCTS83-UAT_WebService" value="http://10.205.7.227/SLIM/ccxml01.asmx" />
    <add key="CNCTS83-UAT_WebServiceLabcode" value="CNCTS83" />
    <add key="CNCTS83-UAT_WebServiceSystem" value="VF" />
    <add key="CNCTS83-UAT_CostCode" value="TX" />
    <add key="CNCTS83-UAT_JobBioFieldDefault" value="OTS_REPORT_NUMBER~~N" />
    <add key="CNCTS83-UAT_SampleClientDescNumberDigit" value="1" />
    <add key="CNCTS83-UAT_SampleBioFieldDefaultOriginal" value="" />
    <add key="CNCTS83-UAT_SampleBioFieldDefaultSpecimen" value="" />
    <add key="CNCTS83-UAT_SampleBioFieldDefaultComposite" value="" />
    <add key="CNCTS83-UAT_SampleFieldHighlight" value="Color" />
    <add key="CNCTS83-UAT_SampleBioFieldFieldHighlight" value="Composition,Fiber Composition,Specimen Remark" />
    <add key="CNCTS83-UAT_SampleUserDataAutoFetch" value="No" />
    <add key="CNCTS83_Description" value="Shanghai SL VF Production" />
    <add key="CNCTS83_RegPath" value="\\10.205.3.75\Inditex\CNCTS83\XML\VF\Register" />
    <add key="CNCTS83_TRFPath" value="\\10.205.3.75\Inditex\CNCTS83\XML\VF\TRF\Final" />
    <add key="CNCTS83_WebService" value="http://10.205.3.74/slim/ccxml01.asmx" />
    <add key="CNCTS83_WebServiceLabcode" value="CNCTS83" />
    <add key="CNCTS83_WebServiceSystem" value="VF" />
    <add key="CNCTS83_CostCode" value="TX" />
    <add key="CNCTS83_JobBioFieldDefault" value="OTS_REPORT_NUMBER~~N" />
    <add key="CNCTS83_SampleClientDescNumberDigit" value="1" />
    <add key="CNCTS83_SampleBioFieldDefaultOriginal" value="" />
    <add key="CNCTS83_SampleBioFieldDefaultSpecimen" value="" />
    <add key="CNCTS83_SampleBioFieldDefaultComposite" value="" />
    <add key="CNCTS83_SampleFieldHighlight" value="Color" />
    <add key="CNCTS83_SampleBioFieldFieldHighlight" value="Composition,Fiber Composition,Specimen Remark" />
    <add key="CNCTS83_SampleUserDataAutoFetch" value="No" />
    <add key="CNCTS81-UAT_Description" value="CN Guangzhou SL UAT" />
    <add key="CNCTS81-UAT_RegPath" value="\\10.205.4.145\Inditex\CNCTS81\XML\VF\Register" />
    <add key="CNCTS81-UAT_TRFPath" value="\\10.205.4.145\Inditex\CNCTS81\XML\VF\TRF\Final" />
    <add key="CNCTS81-UAT_WebService" value="http://10.205.7.227/SLIM/ccxml01.asmx" />
    <add key="CNCTS81-UAT_WebServiceLabcode" value="CNCTS81" />
    <add key="CNCTS81-UAT_WebServiceSystem" value="VF" />
    <add key="CNCTS81-UAT_CostCode" value="TX,FW" />
    <add key="CNCTS81-UAT_SampleClientDescNumberDigit" value="1" />
    <add key="CNCTS81-UAT_SampleBioFieldDefaultOriginal" value="" />
    <add key="CNCTS81-UAT_SampleBioFieldDefaultSpecimen" value="" />
    <add key="CNCTS81-UAT_SampleBioFieldDefaultComposite" value="" />
    <add key="CNCTS81-UAT_SampleFieldHighlight" value="" />
    <add key="CNCTS81-UAT_SampleBioFieldFieldHighlight" value="" />
    <add key="CNCTS81-UAT_SampleUserDataAutoFetch" value="No" />
    <add key="CNCTS81_Description" value="CN Guangzhou SL UAT" />
    <add key="CNCTS81_RegPath" value="\\10.205.3.75\Inditex\CNCTS81\XML\VF\Register" />
    <add key="CNCTS81_TRFPath" value="\\10.205.3.75\Inditex\CNCTS81\XML\VF\TRF\Final" />
    <add key="CNCTS81_WebService" value="http://10.205.3.74/slim/ccxml01.asmx" />
    <add key="CNCTS81_WebServiceLabcode" value="CNCTS81" />
    <add key="CNCTS81_WebServiceSystem" value="VF" />
    <add key="CNCTS81_CostCode" value="TX,FW" />
    <add key="CNCTS81_SampleClientDescNumberDigit" value="1" />
    <add key="CNCTS81_SampleBioFieldDefaultOriginal" value="" />
    <add key="CNCTS81_SampleBioFieldDefaultSpecimen" value="" />
    <add key="CNCTS81_SampleBioFieldDefaultComposite" value="" />
    <add key="CNCTS81_SampleFieldHighlight" value="" />
    <add key="CNCTS81_SampleBioFieldFieldHighlight" value="" />
    <add key="CNCTS81_SampleUserDataAutoFetch" value="No" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CCLASXMLServiceSoap" allowCookies="true" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://hknb0690/SLIM/ccxml01/CCXML01.asmx" binding="basicHttpBinding" bindingConfiguration="CCLASXMLServiceSoap" contract="CCLAS.CCLASXMLServiceSoap" name="CCLASXMLServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>